
@{
    ViewBag.Title = "ReportView";
}

@{
    <hr />
    <div class="text-success">
        Campaign Successfully Reported<br />
        You will be redirected back in 3 seconds...
    </div>
}


@section Scripts
{

    <script type="text/javascript">
        setTimeout(function ()
        {
        window.location.replace('@Url.Action("Index", "Home")')
        }, 3000);
    </script>
}