@model FYPProject.Models.FollowViewModel
@{
    ViewBag.Title = "UnfollowCampaign";
}
@using (Html.BeginForm("UnfollowCampaign", "Follow", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CampaignId)
    @Html.HiddenFor(model => model.Id)

    <button type="submit" id="unfollowBtn" class="btn btn-primary campaign-button sidebar-button">
        <div class="btn-container">
            <div class="left-btn-div"><span class="glyphicon glyphicon-bell btn-icon"></span></div>
            <div class="center-btn-div">
                <span>Unfollow</span>
            </div>
            <div class="right-btn-div">
            </div>

        </div>
    </button>

}