
@{
    ViewBag.Title = "ConnectStripe";
}

<a href="https://connect.stripe.com/express/oauth/authorize?redirect_uri=https://connect.stripe.com/connect/default/oauth/test&client_id=ca_ImpkwRtVKr9jFom4jDSBzNzsrYY0DinX&state=read_write&stripe_user[business_type]=individual&redirect_uri">Connect</a>

